@charset "UTF-8";

.bg-header{
	position: relative;
}

.bg{
	height: 300px;
	margin-top: 30px;
	background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    -webkit-filter: blur(8px);
}

.bg-text1{
	position: absolute;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -180%);
	color: white;
}

.bg-text2{
	position: absolute;
	top: 50%;
	left: 50%;	
	transform: translate(-50%, -50%);
	color: white;
	font-size: 100px;
}